body {background-color:rgb(56, 56, 163);}
body {background-image:linear-gradient(90deg,rgb(113, 110, 255) 0%, rgb(52, 21, 250) 25%,
    rgb(21, 17, 41))}

.button{background-color:ghostwhite;border-color:rgb(253, 253, 87);
    width:80px;
    height:30px;
    border-radius:10px;}

.lgbutton{background-color:ghostwhite;border-color:rgb(250, 79, 0);
        width:150px;
        height:30px;
        border-radius:10px;} 

 .sandbutton{background-color:ghostwhite;border-color:rgb(119, 2, 216);
            width:80px;
            height:30px;
            border-radius:10px;}

.header1{font-family:fantasy; font-style: italic;}

.mainTable{font-weight: bolder; font-style: italic; background-color: lemonchiffon;

}